.image-info {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.image-text {
  font-size: 0.9rem;
  word-wrap: break-word;
  color: #222;
}

b {
  font-weight: 600;
  color: #444;
}