.search-bar {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.search-bar form {
  display: flex;
  flex-direction: column;
}

.search-bar input {
  padding: 3px;
  font-size: 1.5rem;
  border: 1px solid #888;
  border-radius: 5px;
  letter-spacing: 3px;
  font-family: monospace;
  color: #555;
  text-indent: 12px;
}